:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: rgb(37, 46, 54);
  font-family: "Nunito", Arial, sans-serif;
  display: flex;
}

.container {
  margin: auto;
  width: 45rem;
  height: 80rem;
  background: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6rem;
transform: translateX(20px);  
  .card_wrapper {
      border-radius: 20px;
    width: 40rem;
    height: 60rem;
    .card {
      display: grid;
      grid-template-rows: 50% 50%;
      height: 100%;

      .card_top {
        background-color: goldenrod;
        position: relative;
        height: 100%;
        padding: 30px 30px 90px 30px;
        border-radius: 20px 20px 0 0;
        transition: 500ms;

        .logo {
          height: 35px;
          border-radius: 20px;
          margin-bottom: 30px;
        }

        .card_top_text {
          color: #fff;
          font-size: 1.5rem;

          h1 {
            text-transform: uppercase;
            letter-spacing: 1.5px;
          }
          p {
            line-height: 1.2;
            opacity: 0.7;
          }
        }
        .shoes {
          .shoe1 {
            height: 350px;
            position: absolute;
            top: -20px;
            right: -100px;
            rotate: 0deg;
            transform-origin: bottom left;
          }
          .shoe2 {
            height: 370px;
            position: absolute;
            top: -15px;
            right: -500px;
            transform-origin: bottom left;
          }
        }
      }
      .card_bottom {
        padding: 30px;
        height: 100%;
        border-radius: 0 0 20px 20px;
        background-color: #fff;

        .info {
          font-size: 1.5rem;
          line-height: 1.2;
          color: #000;
          margin-bottom: 25px;

          .info_top {
            display: grid;
            grid-template-columns: 70% 30%;
            margin-bottom: 10px;

            h2 {
              text-transform: uppercase;
              letter-spacing: 1.5px;
              color: rgb(60, 73, 87);
            }

            .status {
              font-size: 1rem;
              text-transform: uppercase;
              background-color: #3dbebe;
              color: #fff;
              width: 45px;
              justify-items: end;
              text-align: center;
              margin: auto 20px;
              padding: 0.5rem 0.6rem;
              border-radius: 3px;
              font-weight: 700;
            }
          }

          .collection {
            font-size: 1.2rem;
            font-weight: 600;
            color: rgb(60, 73, 87);
            text-transform: uppercase;
            margin-bottom: 5px;
          }
        }

        .size {
          > p {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 900;
            color: rgb(60, 73, 87);
          }

          .sizes {
            display: flex;
            font-size: 1.4rem;
            padding: 10px 0;

            > p {
              width: 32px;
              height: 32px;
              padding: 0 10px;
              border-radius: 3px;
              text-align: center;
              transform: translateX(-10px);

              &:hover {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #3dbebe;
                color: #fff;
                border-radius: 20px;
                transform: translate(-8px, -6px);
              }
            }
          }
        }

        .color {
          position: relative;

          h3 {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 900;
            color: rgb(60, 73, 87);
            margin-bottom: 10px;
          }

          button {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 20px;
          }
          button:hover {
            cursor: pointer;
            border: 2px solid black;
          }

          #blue {
            background-color: blue;
          }
          #red {
            background-color: red;
            margin-left: 10px;
          }

          .price {
            position: absolute;
            right: -50px;
            bottom: -10px;
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            color: #fdfdfd;
            background-color: #134381;
            padding: 10px 40px;
            border-radius: 5px;
            box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 80%);

            :first-child {
              font-weight: 200;
            }
            :last-child {
              font-weight: 700;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.visually-hidden {
  display: none;
}

.container.change.card_top {
  background-color: #d35246;
}

@keyframes translateRed {
  0% {
    right: -500px;
    rotate: 0deg;
  }
  100% {
    rotate: -40deg;
    right: -230px;
  }
}

@keyframes translateBlue {
  0% {
    top: -20px;
    right: -100px;
    rotate: 0deg;
  }
  100% {
    top: -70px;
    right: 500px;
    rotate: 40deg;
  }
}

@keyframes translateRedRev {
  0% {
    rotate: -40deg;
    right: -230px;
  }
  100% {
    right: -500px;
    rotate: 0deg;
  }
}

@keyframes translateBlueRev {
  0% {
    top: -70px;
    right: 500px;
    rotate: 40deg;
  }
  100% {
    top: -20px;
    right: -100px;
    rotate: 0deg;
  }
}
.animateRed {
  animation: translateRed 1s forwards ease-in;
}

.animateBlue {
  animation: translateBlue 1s forwards ease-in;
}
.animateRedRev {
  animation: translateRedRev 1s forwards ease-in;
}

.animateBlueRev {
  animation: translateBlueRev 1s forwards ease-in;
}
